.card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: var(--bg-tertiary);
  margin: 20px;
}

.card img {
  width: 70%;
  margin: auto;
}

.card h2, .card p {

  text-align: center;
  padding: 10px;
}

.cards-grid {
  margin: auto;
  width: 90%;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
}


/* Cards Button: START */
.card button {
  width: 60%;
  margin: auto;
  align-self: flex-end;
  margin-bottom: 10px;;
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.card button:hover,
.card button:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.card button:active {
  opacity: .5;
}
/* Cards Button: END */