
header {
  font-family: 'Cinzel', serif;
  padding: 100px;
  background-color: var(--bg-main);
}

header div{
  font-family: 'Cinzel', serif;
  display: flex;
  flex-direction: row;
  background-color: var(--bg-main);
}

header img {
  width: 10%;
}

header h1 {
  font-style: italic;
  font-size: 3rem;
  flex-basis: 90%;
  text-align: center;
}