<%- include("./partials/header.ejs") %>

      <form method="post" action="/search">
        <fieldset>
        <legend></legend>
          <div>
            <label>Category</label>
            <input type="text" name="category">
          </div>
          
          <input type="submit">
        </fieldset>
      </form>

<%- include("./partials/footer.ejs") %>
