.items-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

@media only screen and (max-width: 680px) {
  .items-grid {
    grid-template-columns: 1fr;
    display: flex;
    flex-direction: column;
    align-items: center; 
  }
}