</main>
<footer>
  <!-- Page footer starts here -->
  <hr>
  <img src="img/site/books1.svg" alt="ICT Corporation logo">
  <p>@ ICT Corporation, 2022</p>
  <p><a href="">About the company</a></p> 
</footer>
</body>
</html>
