<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Best Javascript Books</title>
      <!-- style sheets -->
    <link rel="stylesheet" href="css/css-reset.css">
    <link rel="stylesheet" href="css/main-styles.css">
    <link rel="stylesheet" href="css/grid.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/footer.css">
  </head>
  <body>
    <header>
      <div class="site-header">
        <!-- Webpage header -->
        <img src="img/site/books1.svg" alt="ICT Corporation Logo">
        <h1>Best Programming Books</h1>
      </div>
      <nav>
        <a href="/">Homepage</a>
        <a href="/about">About Us</a>
        <a href="/Search">Search</a>
      </nav>
    </header>
    <main>