@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400&display=swap');

html, body {
  margin: 20px;
  width: 100%;
  height: 100%;
  background-color: rgb(233, 227, 219);
  font-family: 'Roboto Slab', serif;
}

caption {
  font-weight: bold;
  padding: 0.25em 0 0.25em 0;
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #DCA806;
}

table {
  font-size: 0.8em;
  border-collapse: collapse; /* no effect as this is already done by the CSS reset */
  text-align: left;
}

thead th {
  background-color: #1f9f8a;
  color: white;
  padding: 0.75em;
}

tbody th {
  color: #6E6E6E;
  padding: 0.75em;
}

tbody tr {
  background-color: #F1F1F1;
  color: #6E6E6E;
}

tbody td {
  border: solid 1px #9e9e9e;
  padding: 0.75em;
}

tbody tr:nth-child(even) {
  background-color: lightgray;
}

tbody tr:hover {
  background-color: #9e9e9e;
  color: black;
}


