<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register | Node Auth</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div class="login-form">
      <% if(err) { %>
      <p><%= err %></p>
      <% } %>
      <h3>Register Page</h3>
      <form action="/register" method="POST">
        <div class="input-group">
          <label for="username">Username:</label>
          <input type="text" name="username" required/>
        </div>
        <div class="input-group">
          <label for="email">Email:</label>
          <input type="email" name="email" required/>
        </div>
        <div class="input-group">
          <label for="password">Password:</label>
          <input type="password" name="password" required/>
        </div>
        <button>Register</button>
      </form>
      <a href="/login">Login</a>
    </div>
  </body>
</html>
