<%- include('./partials/head.ejs', {title: title}) %>
<body>
  <%- include('./partials/header.ejs', {title: title}) %>
  <main class="main-block">
    <h2>Introduction:</h2>
    <p>Text........</p>
  </main>
  <%- include('./partials/footer.ejs') %>
</body>
</html>