<div class="company-info">
  <h3>MyCompany.inc</h3>
  <ul>
    <li><i class="fa fa-road"></i>Your address</li>
    <li><i class="fa fa-phone"></i> (+966) 123456789</li>
    <li><i class="fa fa-envelope"></i><a href="www.mycompany.sa">Visit our website</a></li>
  </ul>
</div>