<%- include("./partials/head.ejs") %>
  <body>
    <%- include("partials/header.ejs") %>

    <h1 class="error_title"> 404 Error: Page Not Found</h1>
    
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
