<footer class="main-footer">
  <div class="container main-footer-container">
      <h3 class="banner-name">Best Javascript Books</h3>
      <ul class="nav footer-nav">
          <li>
              <a href="https://www.youtube.com" target="_blank">
                  <img src="img/site/YouTube Logo.png">
              </a>
          </li>
          <li>
              <a href="https://www.facebook.com" target="_blank">
                  <img src="img/site/Facebook Logo.png">
              </a>
          </li>
      </ul>
  </div>
</footer>
<script src="store.js"></script>
</body>
</html>