<article "form-article">
    <% errors.forEach( (error) => { %>
      <p> <%= error.param + " : " + error.msg %> </p>
    <% }); %>

  <div id="form-main"></div>
    <% if(message) { %>
        <p class="msg"><%= message %></p>
    <% } %>
    <form id="add_form" method="post" action="/articles/v1/">
      <fieldset class="form-article">
      <legend>Add Article</legend>
        <p><label>Name</label>
          <input type="text" name="name" placeholder="name" required>
        </p>
        <p><label>Code</label>
          <input type="text" name="code" placeholder="CODE" required>
        </p>
        <p><label>Description</label>
          <input type="text" name="description" placeholder="add a description here....">
        </p>
        <button type="submit" form="add_form" value="Submit">Add</button>
      </fileldset>
    </form>
  </div>
</article>