<form id="search-form" method="get" action="/v1/articles/">
  <fieldset class="form-article">
  <legend>Search for Articles</legend>
    <p><label>Name contains:</label>
      <input type="text" name="name" placeholder="name">
    </p>
    <p><label>Code Contains:</label>
      <input type="text" name="code" placeholder="CODE">
    </p>
    <button type="submit" form="search-form" value="Submit">Search</button>
  </fileldset>
</form>