    <section>
      <form method="post" action="/items/addItem">
        <fieldset>
        <legend>Add new Item:</legend>
          <p>
            <label>Name:</label>
            <input type="text" name="name" placeholder="Name of the item..." required>
          </p>
          <p>
            <label>Description:</label>
            <input type="text" name="description" placeholder="Describe the item..">
          </p>
          <p>
            <label>File Name:</label>
            <input type="text" name="filename" placeholder="filename..." required>
          </p>
          <input type="submit">
        </fileldset>
      </form>
    </section>