:root {
  --bg-color-main: #431c5d;
  --bg-color-secondary: #e05915;  
  --fg-color-main: #e6e9f0;
  --radius-boxes: 5px;
  --padding-boxes: 4px;
  --fontsize-default: 18px;
  --shadow-color: rgba(0,0,0,0.22);
  --dropshadow: 6px 5px 20px 1px var(--shadow-color);
}
header {
  background-color: var(--bg-color-main);
  color: var(--bg-color-secondary);
  padding: var(--padding-boxes);
  box-shadow: var(--dropshadow);
  margin: 0;
}
header section {
  background-color: var(--bg-color-secondary);
  border-radius: var(--radius-boxes);
  border-color: var(--fg-color-main);
  padding: var(--padding-boxes);
  color: var(--fg-color-main);
  font-size: var(--fontsize-default);
  margin-top: calc( --fontsize-default / 2 );
}
#results {
  background-color: var(--bg-color-main);
  font-size: var(--fontsize-default:);
  border-radius: var(--radius-boxes);
  padding: var(--padding-boxes);
  box-shadow: var(--dropshadow);
}
