html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: burlywood;
}

/** Remove then add this rule to see the difference. With this rule, the elements
 * will occupy 100% + 4px > 100%, that's why they will be wider than the viewport.
 */
div {
  border: solid 1px black;
}

.pixels {
  width: 200px;
  height: 50px;
  background-color: cadetblue;
}

.percent70 {
  float: left;
  width: 70%;
  height: 50%;
  background-color: darkolivegreen;
}

.percent30 {
  float: left;
  width: 29%;
  height: 50%;
  background-color: rgb(139, 139, 247);
}