<!DOCTYPE html>
<html>
<head>
    <title>Javascript Books | Store</title>
    <meta name="description" content="This is the description">
    <link rel="stylesheet" href="styles.css" />
</head>
<body>
  <header class="main-header">
      <nav class="main-nav nav">
          <ul>
              <li><a href="/">HOME</a></li>
              <li><a href="/about">ABOUT</a></li>
          </ul>
      </nav>
      <h1 class="banner-name banner-name-large">Best Javascript Books</h1>
  </header>
  <br>
  <section>
    <h2>
      We appreciated providing you with the best Javascript books! If you have any questions, please email
      <a href="mailto:skander.turki.psu@gmail.com">skander.turki.psu@gmail.com</a>.
    </h2>
  </section>
  <br>
  <footer class="main-footer">
    <div class="container main-footer-container">
        <h3 class="banner-name">Best Javascript Books</h3>
        <ul class="nav footer-nav">
            <li>
                <a href="https://www.youtube.com" target="_blank">
                    <img src="img/site/YouTube Logo.png">
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com" target="_blank">
                    <img src="img/site/Facebook Logo.png">
                </a>
            </li>
        </ul>
    </div>
  </footer>
  </body>
  </html>