header, footer {
  background-color: rgb(110, 136, 220);
  font-size: large;
  padding: 20px;
  text-align: center;
}

header h1, footer h1 {
  margin: 20px;
  font-size: xx-large;
}

header nav a, footer nav a {
  color: black;
  text-decoration: none;
  border: 1px solid black;
  padding: 5px;
}

header ul, footer ul {
  list-style-type: none; 
}
