<!DOCTYPE html>
<html>
    <head>
        <title>Javascript Books | Store</title>
        <meta name="description" content="This is the description">
        <link rel="stylesheet" href="styles.css" />
    </head>
    <body>
        <header class="main-header">
            <nav class="main-nav nav">
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/about">ABOUT</a></li>
                </ul>
            </nav>
            <h1 class="banner-name banner-name-large">Best Javascript Books</h1>
        </header>